.filter{
    width: auto;
    margin-top: 100px;
}
.filter__wrapper{
    padding: 0px 30px 0px 30px;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media #{$medium-screen} {
        width: 90%;
    }
    @media #{$tablet} {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
}
.filter__heading{
    margin: auto 33px auto 0px;
    @include font(900, 14px, $c-brand);
    line-height: 17px;
    @media #{$tablet} {
        margin-bottom: 15px;
    }
}
.filter__icon{
    display: none;
    @media #{$tablet} {
        display: block;
        
    }
}
.filter__radio{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media #{$tablet} {
        flex-direction: column;
        align-items: flex-start;
        display: none;
    }
}
.filter__item{
    margin-right: 19px;
    
}

.filter__title{
    @include font(500, 16px, $c-brand);
    letter-spacing: 0.1px;
}